@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
  background-color: #d4ebd0;
  font-family: 'Open Sans', sans-serif;
}
h1{
  color:#483D8B;
}
h3{
  color:#8FBC8F;
}
hr {
  border-style:dotted none none;
  height:0;
  width:9%;
  border-color:#FFA07A;
  border-width:0.8em;
  opacity:0.4;
}
h4{
  color:#3CB371;
}
h2{
  color:#FA8072;
}
div{
  background-color:#E9967A;
  margin:0;
  padding:5px;
  border-radius: 0;
  border-top-left-radius:25px;
  border-bottom-left-radius:25px;
}
